Source: opentoonz
Section: graphics
Priority: optional
Maintainer: Hideki Yamane <henrich@debian.org>
Build-Depends: debhelper (>=9),
               cmake,
               qtbase5-dev,
               libboost-dev | libboost1.58-dev,
               libglew1.13,
               liblz4-dev,
               libjpeg-dev | libjpeg62-turbo-dev,
               libpng16-dev,
               liblzo2-dev,
               pkg-config,
Standards-Version: 3.9.7
Homepage: https://opentoonz.github.io/
#Vcs-Git: git://anonscm.debian.org/collab-maint/opentoonz.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/opentoonz.git

Package: opentoonz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: software for producing a 2D animation
 It is based on the software "Toonz", which was developed by Digital Video
 S.p.A. in Italy, customized by Studio Ghibli, and has been used for creating
 its works for many years. 
